*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--nav-bg);
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: var(--nav-bg);
    color: var(--text-color);
    border-bottom: 1px solid #ccc;
}

:root {
    --nav-bg: #ffffff;
    --text-color: #000000;
}
.dark {
    --nav-bg: #1e1e1e;
    --text-color: #ffffff;
}

nav .logo img {
    width: 40px;
}

nav .menus {
    display: flex;
    gap: 20px;
}

nav .menus a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
}
nav .menus a:hover {
    color: #3498db;
}
.dark-light-theme {
    font-size: 24px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

#light-mode-icon {
    display: none;
}
.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.container {
    width: 400px;
    background: var(--nav-bg);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h2 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
}

.input-area input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.input-area button {
    padding: 10px 18px;
    background: #007bff;
    border: none;
    color: var(--text-color);
    border-radius: 8px;
    cursor: pointer;
}

.input-area button:hover {
    background: #005dc1;
}

.todo-list {
    list-style: none;
    margin-top: 20px;
}

.todo-list li {
    background: var(--nav-bg);
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    border-bottom: 1px solid #ccc;
}

.delete {
    background: red;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
}

.note {
    margin-top: 15px;
    font-size: 12px;
    color: var(--text-color);
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    padding: 20px;
}
.about-page{
   width: 100%;
   height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.contact-us-page{
   width: 100%;
   height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
footer{
    width: 100%;
    padding: 15px 40px;
    background: var(--nav-bg);
    color: var(--text-color);
    border-top: 1px solid #ccc;
    text-align: center;
}