*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--nav-bg);
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: var(--nav-bg);
    color: var(--text-color);
    position: fixed;
    top: 0;
}

:root {
    --nav-bg: #ffffff;
    --text-color: #000000;
}
.dark {
    --nav-bg: #1e1e1e;
    --text-color: #ffffff;
}

nav .logo img {
    width: 40px;
}

nav .menus {
    display: flex;
    gap: 20px;
}

nav .menus a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
}
nav .menus a:hover {
    color: #3498db;
}
.dark-light-theme {
    font-size: 24px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

#light-mode-icon {
    display: none;
}
.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}